.special {
  background-color: green !important;
}

.fancylist {
  width: 100%;
  max-width: inherit;
  overflow: hidden;
  padding: 10px;
  justify-content: start !important;
  align-items: stretch;
  gap: 1px;
  padding-bottom: 0;
  padding-top: 0;
}

.fancylist > * {
  min-width: max-content;
  width: max-content;
}

.fancylist:hover {
  overflow: auto;
}
.fancy-title {
  position: sticky;
  left: 0;
  top: -20px;
  z-index: 9999;
  min-width: max-content;
  max-width: max-content;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.fancylist::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.fancylist {
  padding-right: 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.flex-right-hugger {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.bg-myblue {
  background-color: rgba(157, 148, 255, 0.71);
}
