button {
  display: inline-block;
  width: fit-content;
  background-color: inherit;
  border-radius: 10%;
  padding: 6px 8px;
  margin: 3px;
  border: none;
  background-color: rgba(212, 0, 212, 0.44);
  -webkit-box-shadow: 10px 10px 14px -7px rgba(76, 55, 179, 0.53);
  -moz-box-shadow: 10px 10px 14px -7px rgba(76, 55, 179, 0.53);
  box-shadow: 10px 10px 14px -7px rgba(76, 55, 179, 0.53);
  color: aliceblue;
}

.asd {
  width: fit-content;
}

.aditionalinfo * {
  margin: 0;
}
tr * {
  cursor: pointer;
}
.aditionalinfo * {
  cursor: default;
}

.searched-ingredient {
  background-color: green !important;
}

.infos {
  border: 2px solid purple;
  border-radius: 10px;
  overflow: hidden;
  min-width: 100%;
}
