table * {
  padding: 5px 8px;
  margin-left: 20px;
  margin-right: auto;
  width: 100%;
  max-width: inherit;
  text-align: justify;
  transition: 0.8s;
}

table {
  position: relative;
  z-index: 1;
  box-shadow: 0px 15px 75px 45px rgba(33, 1, 33, 0.71);
  width: 500px;
  max-width: 500px;
  border-radius: 10px;
  transition: 0s;
}
table * {
}
table tr {
  width: 100%;
  color: black;
  transition: 0s;
}

.rowhover > *:hover {
  background: rgba(255, 151, 198, 0.619);
  transition: 0.4s;
}
.rowhover:hover {
  background: rgba(255, 151, 198, 0.619);
  transition: 0.4;
}
/* thead,
thead *,
thead:hover,
thead *:hover {
  background-color: purple !important;
  columns: aliceblue !important;
} */

table {
  position: relative;
}
thead {
  /* z-index: 1; */
  position: sticky;
  top: 20px;
  /* z-index: 999; */
  background: rgb(157, 148, 255);
}

thead * {
  background-color: inherit;
}
.flex-right {
  display: flex;
  align-items: center;
  justify-content: start;
}
/*  */

.sortertoggle * {
  margin: 0;
  padding: 0;
  width: fit-content;
}

.sortertoggle .selected {
  background-color: rgb(128, 0, 119);
}

.sortertoggle {
  gap: 0;
  margin: 0;
}
.sortertoggle > div {
  margin: 0px 10px;
}

.fillheight {
  height: 100%;
}

.sortertoggle .up {
  border-radius: 0;
}
.sortertoggle .down {
  border-radius: 0;
}

.sortertoggle button {
  padding: 2px 7px;
  background-color: rgba(128, 128, 128, 0.557);
}

.active {
  background-color: purple !important;
}
@media (prefers-color-scheme: dark) {
}

.get-sticky {
  position: relative;
  top: 10%;
  align-self: flex-start;
}

.tables-hugger {
  gap: 10px;
}

.sticky-pagination {
  position: sticky;
  bottom: 0px;
  background-color: rgba(157, 148, 255, 1);

  align-self: flex-start;
}

.sticky-pagination * {
  margin: 0;
}

.sticky-pagination input {
  width: 50px;
}

.justify-start {
  justify-content: start !important;
}

.comfy {
  padding: 6px 10px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 500px;
  overflow: hidden;
}

button:active {
  background-color: green;
  transition: 0.3s;
}

.more-z-index thead {
  z-index: 2;
}
