body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.hide {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color: aliceblue !important;
    background-color: black !important;
  }

  :root {
    --opacity_logo: 0.6 !important;
  }
}
